
<div class="row">
  <div class="col-sm-6 col-md-6 col-lg-12">
          <% @restaurants.each do |restaurant| %>
          <%= link_to restaurant_path(restaurant) do %>
          <div class="card">
          <div class="card-body">
            <br>
          <h5 class="card-title"><%= restaurant.name %></h5>
          <p class="card-text"><%= restaurant.address %></p>
          <p class="card-text"><%= restaurant.category%></p>
          </div>
          </div>
          <% end %>
          <% end %>


    </div>
  </div>


